In [1]:
import pandas as pd
import numpy as np

In [2]:
car = pd.read_csv('Car_sales.csv')

In [3]:
car.head()

,Manufacturer,Model,Sales in thousands,x_4_year,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch,Unnamed: 15,XX
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2-Feb-14,NaN,16.360
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6-Mar-15,NaN,19.875
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1-Apr-14,NaN,18.225
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3-Oct-15,NaN,29.725
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-Aug-15,NaN,22.255

In [4]:
car.columns

Index(['Manufacturer', 'Model', 'Sales in thousands', 'x_4_year',
       'Vehicle type', 'Price in thousands', 'Engine size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity',
       'Fuel efficiency', 'Latest Launch', 'Unnamed: 15', 'XX'],
      dtype='object')

In [5]:
car.drop(['Unnamed: 15', 'XX'],axis=1,inplace=True)

In [6]:
car.describe()

,Sales in thousands,x_4_year,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000
mean,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156
std,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        154 non-null    object
 1   Model               157 non-null    object
 2   Sales in thousands  157 non-null    float64
 3   x_4_year            121 non-null    float64
 4   Vehicle type        157 non-null    object
 5   Price in thousands  155 non-null    float64
 6   Engine size         156 non-null    float64
 7   Horsepower          156 non-null    float64
 8   Wheelbase           156 non-null    float64
 9   Width               156 non-null    float64
 10  Length              156 non-null    float64
 11  Curb weight         155 non-null    float64
 12  Fuel capacity       156 non-null    float64
 13  Fuel efficiency     154 non-null    float64
 14  Latest Launch       157 non-null    object
dtypes: float64(11), object(4)
memory usage: 18.5+ KB

In [8]:
car.shape

(157, 15)

In [9]:
car.size

2355

In [10]:
car.fillna(car['x_4_year'].mean(),inplace=True)
car.fillna(car['Price in thousands'].mean(),inplace=True)
car.fillna(car['Engine size'].mode(),inplace=True)
car.fillna(car['Horsepower'].median(),inplace=True)
car.fillna(car['Wheelbase'].mode(),inplace=True)
car.fillna(car['Width'].mode(),inplace=True)
car.fillna(car['Length'].mode(),inplace=True)
car.fillna(car['Curb weight'].mode(),inplace=True)
car.fillna(car['Fuel capacity'].mode(),inplace=True)
car.fillna(car['Fuel efficiency'].median(),inplace=True)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        157 non-null    object
 1   Model               157 non-null    object
 2   Sales in thousands  157 non-null    float64
 3   x_4_year            157 non-null    float64
 4   Vehicle type        157 non-null    object
 5   Price in thousands  157 non-null    float64
 6   Engine size         157 non-null    float64
 7   Horsepower          157 non-null    float64
 8   Wheelbase           157 non-null    float64
 9   Width               157 non-null    float64
 10  Length              157 non-null    float64
 11  Curb weight         157 non-null    float64
 12  Fuel capacity       157 non-null    float64
 13  Fuel efficiency     157 non-null    float64
 14  Latest Launch       157 non-null    object
dtypes: float64(11), object(4)
memory usage: 18.5+ KB

In [12]:
car['Latest Launch']

0       2-Feb-14
1       6-Mar-15
2       1-Apr-14
3       3-Oct-15
4      10-Aug-15
         ...
152    21-Sep-15
153    24-Nov-14
154    25-Jun-15
155    26-Apr-15
156    14-Nov-15
Name: Latest Launch, Length: 157, dtype: object

In [13]:
car['Latest Launch']=pd.to_datetime(car['Latest Launch'])

In [14]:
car['Latest Launch']

0     2014-02-02
1     2015-03-06
2     2014-04-01
3     2015-10-03
4     2015-08-10
         ...
152   2015-09-21
153   2014-11-24
154   2015-06-25
155   2015-04-26
156   2015-11-14
Name: Latest Launch, Length: 157, dtype: datetime64[ns]

In [15]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        157 non-null    object
 1   Model               157 non-null    object
 2   Sales in thousands  157 non-null    float64
 3   x_4_year            157 non-null    float64
 4   Vehicle type        157 non-null    object
 5   Price in thousands  157 non-null    float64
 6   Engine size         157 non-null    float64
 7   Horsepower          157 non-null    float64
 8   Wheelbase           157 non-null    float64
 9   Width               157 non-null    float64
 10  Length              157 non-null    float64
 11  Curb weight         157 non-null    float64
 12  Fuel capacity       157 non-null    float64
 13  Fuel efficiency     157 non-null    float64
 14  Latest Launch       157 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(11), object(3)
memory usage: 18.5+ KB

In [16]:
#1
car[car['Sales in thousands']==car['Sales in thousands'].min()][['Manufacturer','Model']].style.hide_index()

In [17]:
#2 
car[car['Sales in thousands']==car['Sales in thousands'].max()][['Manufacturer','Model']].style.hide_index()

In [18]:
#3
car[car['Vehicle type']=='Passenger'].nsmallest(1,'Sales in thousands')[['Manufacturer','Model']].style.hide_index()

In [19]:
#4
car[car['Engine size']>6].nlargest(1,'Sales in thousands')[['Manufacturer','Model']].style.hide_index()

In [20]:
#5
car[car['Vehicle type']=='Car'].nlargest(1,'Fuel efficiency').reset_index().iloc[0,1]

'Toyota       '

In [21]:
#6
car[car['Vehicle type']=='Passenger'].nsmallest(1,'Fuel efficiency').reset_index().iloc[0,1]

'Dodge        '

In [22]:
#7
car.sort_values('Sales in thousands',ascending=False).head(5).nsmallest(1,'Price in thousands').reset_index().iloc[0,1]

'Honda        '

In [23]:
#8
car.sort_values('Sales in thousands',ascending=True).head(5).nlargest(1,'Price in thousands').reset_index().iloc[0,1]

'Mercedes-Benz'

In [24]:
#9
car.nlargest(1,'Horsepower')[['Model']].reset_index().iloc[0,1]

'Viper            '

In [25]:
#10
car.sort_values('Sales in thousands',ascending=True).head().nlargest(1,'Fuel efficiency')[['Model','Manufacturer']].style.hide_index()

In [26]:
#11
car.sort_values('Sales in thousands',ascending=False).head().nsmallest(1,'Fuel efficiency')[['Manufacturer','Model']].style.hide_index()

In [27]:
#12
car[car['Vehicle type']=='Car'].nlargest(1,'Wheelbase')[['Manufacturer','Model']].style.hide_index()

In [28]:
#13
car[car['Vehicle type']=='Passenger'].nsmallest(1,'Wheelbase')[['Manufacturer','Model']].style.hide_index()

In [29]:
#14
car.nlargest(5,'Fuel efficiency').nlargest(1,'Curb weight')[['Manufacturer','Model']].style.hide_index()

In [30]:
#15
car.nlargest(5,'Fuel efficiency').nsmallest(1,'Curb weight')[['Manufacturer','Model']].style.hide_index()

In [31]:
#16
car.nsmallest(5,'Fuel efficiency').nsmallest(1,'Curb weight')[['Manufacturer','Model']].style.hide_index()

In [32]:
#17
car.rename({'x_4_year':'4_Year_Resale_Value'},axis=1,inplace=True)

In [33]:
#18
car.nlargest(1,['Sales in thousands','4_Year_Resale_Value'])[['Manufacturer','Model']].style.hide_index()

In [34]:
#19
car.nsmallest(5,'Price in thousands',keep='all').nlargest(1,['Sales in thousands','Fuel efficiency','4_Year_Resale_Value',])[['Manufacturer','Model']].style.hide_index()

In [35]:
#20
car.nlargest(5,'Sales in thousands',keep='all').nsmallest(1,'4_Year_Resale_Value')[['Manufacturer','Model']].style.hide_index()

In [36]:
#21
car.loc[car['Sales in thousands']>car['Sales in thousands'].mean(),'Sales in thousands']=car['Sales in thousands'].mean()

In [37]:
#22
car.loc[car['Price in thousands']>car['Price in thousands'].mean(),'Price in thouands']=car['Price in thousands'].mean()

In [38]:
#23
car.loc[car['Horsepower']>car['Horsepower'].mean(),'Horsepower']=car['Horsepower'].mean()

# Done !